<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'light_section', taxon: @taxon %>
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'categories_section', taxonomies: @taxonomies %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'sort_section' %>
          <div class="row mainBar">
            <%= render partial: 'main_content_section', collection: @products, as: 'product' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'bottom_brand_section' %>
</div>
